<p>Hello <%= @user.username %>,</p>

<p>You have requested to reset your password on our website.</p>

<p>Your verification code is: <%= @user.reset_password_token %></p>

<p>Please enter this code in the form provided on the website within the next 3 hours to reset your password.</p>

<p>Thank you for using our service.</p>
