/* fo css */
.card {
  background-color: #c4ebeb;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


label {
  margin-bottom: 10px;
  font-size: 18px;
  color: #0f0101;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"]
 {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e1ecee;
  box-shadow: 0px 2px 5px rgba(41, 23, 23, 0.1);
  font-size: 16px;
  margin-bottom: 15px;
}

input[type="submit"] {
  background-color: #5b9cbb;
  color: #807575;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


