<p style="color: green"><%= notice %></p>

<h1>Logins</h1>

<div id="logins">
  <% @logins.each do |login| %>
    <%= render login %>
    <p>
      <%= link_to "Show this login", login %>
    </p>
  <% end %>
</div>

<%= link_to "New login", new_login_path %>
