.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400vh;
}

.card {
  background-color: #cfcccc;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
  margin-top: 1rem;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

label {
  margin-top: 1rem;
  display: block;
  font-weight: bold;
}

input {
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid gray;
}

button[type="submit"] {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

p {
  margin-top: 1rem;
  text-align: center;
}

a {
  color: #314ce7;
}
